.FinishedQuiz {
  padding: 20px;
  border: 2px solid #fff;
  border-radius: 5px;
  box-sizing: border-box;
}

.FinishedQuiz li {
  list-style: none;
}

.FinishedQuiz i {
  margin-left: 10px;
}

.success {
  color: forestgreen;
}

.error {
  color: red;
}
